.container {
  display: flex;
}

.login-
.form{
  width: 650px;
  border-radius: 10px;
  position: relative;
  padding: 4rem;
  background-color: #F5F5F5; 
}
.column1, .column2 {
  flex: 1;
  padding: 20px;
}

.column1 img {
  max-width: 100%;
  height: auto;
}

form {
  padding: 20px;
}

.logout{
  background-color: #FF69B4;
  border: 2px solid white;
  border-radius: 15px;
  color: #FFFFFF;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  min-height: 60px;
  transition: transform 0.2s ease-in-out;
}
.logout:hover{
  transform: translateY(-2px);
  background-color: white;
  color: #FF69B4;
}
.b1 {
  margin-right: 50px;
  background-color: #e7008a;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  min-height: 60px;
  text-align: center;
  width: 50%;
  transition: transform 0.2s ease-in-out;
}
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
.task-input{
  border-radius: 30px;
  border: 5px solid #FF69B4;
  padding: 10px;
  width: 50%;
  height: 50px;
  margin-bottom: 10px;
  font-size: large;
}
.side{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: #FF69B4;
}
.cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-form {
  padding-left: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form1 {
  text-align: center;
  margin-top: 50px;
}

.headd{
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  color: #FF69B4;
}

.add{
  background-color: #FF69B4;
  border: 2px solid #FF69B4;
  border-radius: 15px;
  color: #FFFFFF;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  min-height: 60px;
  transition: transform 0.2s ease-in-out;
}

.add:hover{
  background-color: white;
  color: #FF69B4;
}

.b1:hover, .add:hover {
  transform: translateY(-2px);
}

.i1,
.i2 {
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: #000000;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  min-height: 50px;
  padding: 16px 24px;
  text-align: center;
  width: 50%;
}
.login-card-footer {
  margin-top: 1.5rem;
  font-size: calc(1rem * .8);
}

@media screen and (min-width: 768px) {
  img {
    max-width: 50%;
  }
}
.form-item-header,
.form-item-footer {
  text-align: center;
}
.form-item-header{
  margin-bottom: 2rem;
}
.form-item-header h3+div {
  font-size: calc(1rem * .8);
  opacity: .8;
  gap: 1.5rem;
}
.login-card-form{
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.login-card-form .form-item{
  position: relative;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

